/**
 *
 * {{ properCase name }}
 *
 */

import React from 'react';
import PropTypes from 'prop-types';
{{#if wantStyledComp}}
import Styled{{ properCase name }} from './styledComponents/styled{{ properCase name }}';
{{/if}}

function {{ properCase name }}(props) {
  return (
    {{#if wantStyledComp}}
    <Styled{{ properCase name }}>
    </Styled{{ properCase name }}>
    {{else}}
    <div></div>
    {{/if}}
  );
}

{{ properCase name }}.propTypes = {};

export default {{ properCase name }};
